{% set assetHash = helpers.random() %}
<!DOCTYPE html>
<html lang="en-GB">

  <head>

    {% include "partials/meta.html" %}

    {# <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" /> #}
    <link rel="stylesheet" media="print" href="/css/styles.css?{{ assetHash }}" onload="this.media='all'" />

  </head>

  <body id="main-body">
    <div class="site-wrap">
    
      {% include "partials/header.html" %}

      <main tabindex="-1" id="main-content">
        {{ content | safe }}
      </main>

      {% include "partials/footer.html" %}

    </div>

  </body>

</html>
