{% set assetHash = helpers.random() %}
<!DOCTYPE html>
<html lang="en-GB">

  <head>

    {% include "partials/meta.html" %}

    {%- set css -%}
      {% include "../../css/reset.css" %}
      {% include "../../css/common.css" %}
      {% include "../../css/styles.css" %}
    {%- endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

    {# <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" /> #}
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

  </head>

  <body id="main-body">
    <div class="site-wrap">
    
      {% include "partials/header.html" %}

      <main>
        {{ content | safe }}
      </main>

      {% include "partials/footer.html" %}

    </div>

  </body>

</html>
