.section--contact {
  background: repeating-linear-gradient(
    55deg,
    var(--brand-2),
    var(--brand-2) 10px,
    #2aa150 10px,
    #2aa150 20px
  );
}

@media screen and (min-width: 600px) {
.section--contact__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.contact-details {
  position: relative;
  z-index: 0;
  display: grid;
  place-items: center;
  text-align: center;
  width: 34rem;
  height: 34rem;
}
.contact-details::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--brand-2-mid);
  border-radius: 50%;
  z-index: -1;
  /* box-shadow: 0 16px 0 var(--brand-2-light); */
}
.contact-details > p {
  font-size: var(--size-70);
  text-shadow: -3px 3px 0 var(--brand-4);
  font-weight: bold;
  color: var(--brand-3);
}
.contact-details > p:first-child {
  margin-top: var(--size-90);
  max-width: 18ch;
}
.contact-details > p:last-child {
  margin-bottom: var(--size-90);
}
.contact-details a {
  text-decoration: none;
  color: var(--brand-3);
}
.contact-details a:hover,
.contact-details a:focus {
  color: var(--brand-3-mid);
}


.enquiry-form {
  --flow-space: var(--size-40);
  width: 40%;
  text-align: left;
}
.enquiry-form fieldset {
  border: 0;
  padding: 0;
}
.enquiry-form label {
  display: block;
  font-size: var(--size-60);
}
.enquiry-form input[type="text"],
.enquiry-form textarea {
  border: solid;
  background: var(--brand-4-light);
  padding: var(--size-30) var(--size-30) var(--size-20) var(--size-30);
  line-height: inherit;
}
.enquiry-form input[type="text"]:focus,
.enquiry-form textarea:focus {
  outline: 0;
  border: solid var(--brand-3-light);
}
.enquiry-form input[type="text"] {
  display: block;
  width: 100%;
}
.enquiry-form textarea {
  width: 100%;
  min-height: 8rem;
}
.enquiry-form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
}