---
layout: base
---

<div class="section section--brownies">

  <div class="wrapper">

    <h2 id="our-brownies" class="section__title">{{ metadata.content.brownies.title }}</h2>

    {% include "partials/brownies.html" %}

  </div>

</div>

<div class="section section--contact">

  <div class="wrapper">

    <h2 id="contact-us" class="section__title">Contact us</h2>

    <div class="section--contact__cols">

      {% include "partials/contact-details.html" %}

      <img class="contact-details__decorative-image" src="/img/brownies-wide.jpg" alt="" role"presentation">

    </div>

  </div>

</div>

<div class="section section--instagram">

  <div class="wrapper">

    <h2 class="section__title">{{ metadata.content.instagram.title }}</h2>

    <div class="flow">

      {% include "partials/instagram.html" %}

    </div>

  </div>

</div>

