---
layout: base
---

<div class="section section--brownies ">

  <h2 id="our-brownies" class="section__title">{{ metadata.content.brownies.title }}</h2>

  <div class="section__wrapper wrapper">

    {% include "partials/brownies.html" %}

  </div>

</div>

<div class="section section--contact">

  <h2 id="contact-us" class="section__title">Contact us</h2>

  <div class="section__wrapper wrapper">

    {% include "partials/contact-details.html" %}

    {% include "partials/enquiry-form.html" %}

  </div>

</div>

<div class="section section--instagram">

  <h2 class="section__title">{{ metadata.content.instagram.title }}</h2>

  <div class="section__wrapper wrapper flow">

    {% include "partials/instagram.html" %}

  </div>

</div>

