<ul class="brownies">

  {% for product in metadata.content.brownies.products %}
  <li class="brownies__item">
    <div class="brownies__content">
      <h3 class="brownies__title">{{ product.title }}</h3>
      {% if product.description %}
        <p class="brownies__description">{{ product.description }}</p>
      {% endif %}
      {% if product.pricePrefix or product.price or product.priceSuffix %}
        <p class="brownies__details">
          <strong>
            {% if product.pricePrefix %}<span class="brownies__prefix">{{ product.pricePrefix }}</span>{% endif %}
            {% if product.price %}<span class="brownies__price">{{ product.price }}</span>{% endif %}
            {% if product.priceSuffix %}<span class="brownies__suffix">{{ product.priceSuffix }}</span>{% endif %}
          </strong>
        </p>
      {% endif %}
    </div>
    {% if product.image %}
      <img class="brownies__image" src="/img/{{ product.image }}" alt="" role="presentation">
    {% endif %}
  </li>
  {% endfor %}

</ul>