<form class="enquiry-form" autocomplete="off">
  <fieldset class="flow">
    <p>
      <label for="enquiry-form__name">Your name</label>
      <input name="enquiry-form__name" type="text">
    </p>
    <p>
      <label for="enquiry-form__email">Your email</label>
      <input name="enquiry-form__email" type="text">
    </p>
    <p>
      <label for="enquiry-form__enquiry">Your enquiry</label>
      <textarea name="enquiry-form__enquiry"></textarea>
    </p>
    <p>
      <button>Submit</button>
    </p>
  </fieldset>
</form>